body{
    font-family: Arial, sans-serif;
    display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        text-align: center;
        transition: background-color 0.3s ease;
}
body.light-theme {
	background-color: #f4f4f4;
    color: #373737;
}
body.dark-theme{
    background-color: #373737;
    color: #f4f4f4;
    
}
.photo-wrapper {
    position: absolute; 
    top: -100px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    justify-content: center;
}
.wrapper {
    display: flex;
    gap: 20px;
    position: relative;
}
        .container, .container2 {
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 350px;
        }
        .circle-container img{
            background: white;
            width:200px;
            height: 200px;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            text-align: center;
        }
        .form-group {
            margin-bottom: 15px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 90%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button.color {
            background-color: #28a745;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 4px;
            cursor: pointer;
            width: 90%;
            margin-top: 10px;
        }
        input[type="number"]{
            width: 30%;
        }
        .container2 div {
            margin-bottom: 10px;
        }
        
        input[type="submit"]:hover {
            background-color: #218838;
        }
        label{
            font-size: large;
        }